@model Users
@{
    ViewData["Title"] = "Подбор услуг";
}
<h1>@ViewData["Title"]</h1>
<link rel='stylesheet' href="~/css/bootstrap.min.css">
<script src="~/js/vue.js"></script>
<script src="~/js/axios.min.js"></script>

<script>
    window.onload = function () {
        let app = new Vue({
            el: '#app',
            data:
            {
                favOptions: [],
                favOption: null,
                workOptions: [],
                workOption: null,
                result: null,
                selectedItem: null,
                selectedItemId: null,
                a:null,
            },
            methods: {
                getData() {
                    var that=this;
                    axios.post('/Home/Output')
                        .then(r => {
                            that.favOptions = r.data.favOptions;
                            that.favOption = that.favOptions[0];
                            that.workOptions = r.data.workOptions;
                            that.workOption = that.workOptions[0];
                            that.result = that.result == null ? 'c 10:00 по 18:00' : that.result;
                            that.selectedItem = that.selectedItem == null ? that.favOptions[0].name : that.selectedItem;
                            that.selectedItemId = that.selectedItemId == null ? that.favOptions[0].id : that.selectedItemId;
                        });
                },
                selectJob() {
                    var that=this;
                    const res = that.workOption.id;
                    switch (res) {
                        case 0: that.result = 'c 10:00 по 18:00'; break;
                        case 1: that.result = 'c 18:00 по 22:00'; break;
                        case 2: that.result = 'c 22:00 по 10:00'; break;
                    }
                    that.selectedItem = that.favOption.name;
                    that.selectedItemId = that.favOption.id;
                },
                addToCart() {
                    var that = this;
                    axios.post('/Home/AddToCart', { userId: @Model.Id, item: that.selectedItem })
                        .finally(() => {
                            alert('Запрос выполнен успешно');
                            $('#exampleModal').modal('hide');
                        });
                }
            }
        });
        app.getData();
    }
</script>
<body>
    <div id="app">
        <p style="font-size:13px; color: dimgrey;">Выберите товар и желаемое время доставки</p>
        <h5>Товар</h5>
        <select style="width:200px;" v-model="favOption" class="form-select" v-on:change="selectJob()">
            <option v-for="option in favOptions" v-bind:value="option">{{ option.name }}</option>
        </select>
        <h5>Время доставки</h5>
        <select style="width:200px;" v-model="workOption" class="form-select" v-on:change="selectJob()">
            <option v-for="option in workOptions" :value="option">{{ option.name }}</option>
        </select>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Узнать результат!</button>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Хорошая новость!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        Мы готовы доставить вам {{ selectedItem }} {{ result }}!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="addToCart()">Добавить в корзину</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отлично</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>