@model Users
@{
    ViewData["Title"] = "Моя корзина";
}
<h1>@ViewData["Title"]</h1>

<link rel='stylesheet' href="~/css/bootstrap.min.css">
<script src="~/js/vue.js"></script>
<script src="~/js/axios.min.js"></script>
<script>
    window.onload = function () {
        let app=new Vue({
            el: '#app',
            data:{cart:[]},
            methods:{
                outputCart(){var that=this;axios.post('/Home/OutputCart',{id:@Model.Id}).then(r=>that.cart=r.data);},
                removeFromCart(id){var that=this;axios.post('/Home/RemoveFromCart',{id:id}).finally(r => {alert('Удалено успешно'),app.outputCart()})}
            }
        });
        app.outputCart();
    }
</script>

<body>
    <div id="app">
        <h6>Мои товары</h6>
        <table class="table table-hover" v-show="cart.length > 0">
            <thead>
                <tr>
                    <th id="name" colspan="3" style="border:0;text-align: center; font-weight:bold">№ п/п</th>
                    <th id="name" colspan="3" style="border:0;text-align: center; font-weight:bold">Пользователь</th>
                    <th id="name" colspan="3" style="border:1px;text-align: center; font-weight:bold">Наименование</th>
                </tr>               
            </thead>
            <tbody>
                <tr v-for="item in cart">
                    <td colspan ="3" style="text-align: center">{{item.id}}</td>
                    <td colspan ="3" style="text-align: center">{{item.userId}}</td>
                    <td colspan ="3" style="text-align: center">{{item.item}}</td>
                    <td colspan="1" style="text-align: center"><button type="button" class="btn btn-danger" v-on:click="removeFromCart(item.id);">Убрать из корзины</button></td>
                </tr>         
            </tbody>
        </table>
        <p style="font-size:15px; color: darkslategray;" v-show="!cart.length > 0">
            Тут пока пусто
        </p>
    </div>
</body>