@{
    ViewData["Title"] = "Моя корзина";
}
<h1>@ViewData["Title"]</h1>

<link rel='stylesheet' href="~/css/bootstrap.min.css">
<script src="~/js/angular.min.js"></script>
<script>
    angular.module("myapp", [])
        .controller("HelloController", function ($scope, $http) {
           
        });
</script>

<body ng-app="myapp">
    <div ng-controller="HelloController">
        <h6>Мои товары</h6>

        <p style="font-size:15px; color: darkslategray;">
            Тут пока пусто
        </p>
        
    </div>
</body>