@{
    ViewData["Title"] = "Расчёт графиков сотрудников";
}
<h1>@ViewData["Title"]</h1>

<link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
<script src = "//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
<script>
         angular.module("myapp", [])
         .controller("HelloController", function($scope) {
            $scope.options=[
                {id:1, name: 'Врач, выездной персонал'}, 
                {id:2, name: 'Врач, невыездной персонал'},
                {id:3, name: 'Средний мед. выездной персонал'},
                {id:4, name: 'Администрация'},
                {id:5, name: 'Младший мед. невыездной персонал'},
                {id:6, name: 'Прочий персонал'}                
                ];
            $scope.option = $scope.options[1]; 
            
            $scope.workers=[
                {id:1, name: 'Арановский А.С.', role: 'Врач СМП'}, 
                {id:2, name: 'Иванов А.А.', role: 'Врач-невролог'},
                {id:3, name: 'Петров И.И.', role: 'Врач СМП'},
                ];
            $scope.worker = $scope.workers[1];   
            $scope.index=[];
            let i=0;
            while(i<30){
               i++;
               $scope.index[i]=i;
            }
            $scope.scheduleOptions=[
                {id:0, name:' '},
                {id:1, name:'24'},
                {id:2, name:'О'}
            ];    
            $scope.scheduleOption=$scope.scheduleOptions[0];
            $scope.change=function(k){
                if (document.getElementById(k).placeholder===" "){
                    if (document.getElementById(k).placeholder!=="O"){ //выставление отдыха
                        document.getElementById(k).placeholder="24";
                        document.getElementById(k+1).placeholder="O";
                        document.getElementById(k+2).placeholder="O";
                        document.getElementById(k+3).placeholder="O";
                    }
                }else if (document.getElementById(k).placeholder!=="O"){ //отмена действия при нажатии на 24
                        document.getElementById(k).placeholder=" ";
                        document.getElementById(k+1).placeholder=" ";
                        document.getElementById(k+2).placeholder=" ";
                        document.getElementById(k+3).placeholder=" ";
                }              
            }
         });
</script>

<body ng-app = "myapp">
<div ng-controller="HelloController">
    <h6>Выберите группу для просмотра графика</h6>
        <select style="width:300px;" ng-model="option" ng-options="opt as opt.name for opt in options" class="form-select">
        </select>
    <table class="table">
        <caption>Таблица графиков</caption>
        <thead>
        <tr>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Бригада</th>
            <th ng-repeat="i in index" style="align:center;">{{i}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="worker in workers">
            <td>{{worker.name}}</td>
            <td>{{worker.role}}</td>
            <td><input type="text" class="form-control"></td>
            <td ng-repeat="i in index">
                <input ng-show="i>0" style="width:50px;" ng-click="change(i+30*(worker.id-1));" id="{{i+30*(worker.id-1)}}" class="form-control" placeholder=" ">
            </td>
        </tr>
        </tbody>
    </table>
    <p style="font-size:13px; color: dimgrey;">для отмены действий нажмите на выставленные сутки (24)</p>
</div>
</body>